doctype html
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", media="screen")
    style(type="text/css").
        body { margin-top: 70px; }
        tbody td:hover { cursor: pointer; }
        th, td { width: 1px; white-space: nowrap; }
        th.important, td.important { width: inherit; white-space: normal; }
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-ex1-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Files
        block nav
    .container
        .row
            .col-sm-10.col-sm-offset-1
                block content
